:root {
     --bg-dark: rgb(0, 0, 0);
     --nav-dark: rgb(29, 33, 37);
     --bg-card: rgb(7, 22, 36);
     --bg-react: rgb(7, 22, 36);
     --color-dark: rgb(211, 211, 211);
     --color-gold: rgba(255, 187, 0, 0.733);

}


/* {`post pb-3 mb-3 ${isDarkMode ? null : "dark-post"} `} */


.darkMode {
     min-height: 100vh;
     background-color: var(--bg-dark);
     color: #f3f6f9;
}

/* Navvigation  */
.dark-nav {
     background-color: var(--nav-dark);
}

/* Post Card  */
.dark-post {
     background-color: var(--nav-dark);
}

.dark-color {
     color: var(--color-dark);
}

.gold-color {
     color: var(--color-gold);
}

.bg-react {
     background-color: var(--bg-react);
}
