

.darkMode {
     min-height: 100vh;
     background-color: var(--bg-dark);
     color: #f3f6f9;
}

/* Navvigation  */
.dark-nav {
     background-color: var(--nav-dark);
}

/* Post Card  */
.dark-post {
     background-color: var(--nav-dark);
}

.dark-color {
     color: var(--color-dark);
}

.gold-color {
     color: var(--color-gold);
}

.bg-react {
     background-color: var(--bg-react);
}
