.cover-img {
     width: 100%;
}


.star-profile {
     position: relative;
}

.profile-img {
     width: 150px;
     height: 150px;
     border: 5px solid var(--nav-dark);
     border-radius: 50%;
     /* top: -20px;
     position: absolute;
     left: 16px; */
}

.star-left {
     margin-left: 1020px !important;
}
