:root {
     --icon-color: rgb(58, 58, 58);

}

@media only screen and (max-width: 600px) {
     .post-main {
          margin: 0px !important;
          padding: 0px !important;
          margin-bottom: 80px !important;

     }

     .post {
          margin: 0px;
          width: 100%;

     }

     .post .description {
          font-size: 80% !important;
     }

     .desktop {
          display: none;
     }

     .mobile {
          display: block;
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 50px;
     }

     .mobile .logo img {
          width: 40px;
     }

     .sub-love-share {
          font-size: 90%;
     }


     .footer {
          display: flex;
          justify-content: space-evenly;
     }

     .message .icon {
          font-size: 18px;
          text-decoration: none !important;
          color: var(--icon-color);
          text-align: center;
          align-items: center;
          background-color: antiquewhite;
          padding: 10px;
          border-radius: 30px;

     }

     .footer .icon {
          text-decoration: none !important;
          color: var(--icon-color);
          text-align: center;
          display: flex;
          align-items: center;
          background-color: antiquewhite;
          padding: 10px;
          border-radius: 20px;
     }

     .footer .icon i {
          font-size: 22px;
          text-decoration: none !important;
          color: var(--icon-color);
          text-align: center;
          display: flex;
          align-items: center;
          background-color: antiquewhite;
          padding: 1px;
          border-radius: 20px;
     }

     .footer .menu-icon {
          font-size: 22px;
          text-decoration: none !important;
          color: rgb(253, 145, 22);
          text-align: center;
          display: flex;
          align-items: center;
          background-color: antiquewhite;


     }

     .footer .menu-icon img {
          width: 27px !important;
     }


     .product-tab {
          justify-content: space-around;
     }

     .product .description .title {
          margin-top: 5px !important;
     }

     .product .description h5 {
          margin: 0px !important;
          padding: 0px;
     }

     .product .price {
          margin-top: 0px !important;
          padding-top: 0px !important;
     }

     .product img {
          /* padding-left: px; */

     }

     .product-star {

          margin: 0px !important;
     }

}
